// COLOR PALETTE
$white: #ffffff;
$black: #000000;
$grey800: #444444;
$grey500: #a0a0a0;
$grey200: #d8d8d8;
$grey100: #efefef;
$grey50: #fafafa;

// SEMANTIC VALUES
$clr-body-bg: $white;
$clr-body-text-light: $grey500;
$clr-body-text-dark: $black;
$clr-button-hover: $grey800;
